body {
    font-size: 1.3em;
    margin: auto;
    width: 760px;
  }
  .up-on-scroll {
    transition: all 0.7s;
  }
  .black-bg {
    background: black;
    color: white;
    padding: 20px;
  }
  .pb-300 {
    padding-bottom: 300px;
  }
  .min-height-500 {
    min-height: 500px;
  }
  .need-margin {
    margin: 20px 20px 200px;
  }
  section > h2 {
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px 0;
    z-index: 2;
    background: black;
  }
  
  .background-change-wrap {
    height: 120vh;
    padding-bottom: 100px;
  }
  .background-change-wrap > div {
    overflow: hidden;
    width: 760px;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
  }
  .background-change-wrap > div > h2 {
    margin: 0;
    padding: 20px;
    line-height: 40px;
    background: black;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
  }
  .background-change-wrap > div > img {
    position: sticky;
    width: 100%;
    height: calc(100% - 80px);
    object-fit: cover;
  }